.page-test-container{
   
    margin: auto;
     width: 50%;
    background-color:  #3E5F8A;
   
}

.page-test-title{
    text-align: center;
    margin-bottom: 100px;
   
}

.page-test-items{

     padding: 100px;
     border-radius: 25px;
 margin-top: 200px;
  background-color: rgb(226, 226, 226);
}