.test-list-contsiner{
    background-color: rgb(206, 205, 205);
    width: 50%;
    border-radius: 15px;
    margin:150px auto;
}

.test-list-items{
    padding: 60px;
}

.test-list-items-li{
    margin-bottom: 40px;
    padding: 25px;
    background-color: white; 
    border-radius: 15px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.test-list-items-title{
   margin: 0px;
}

.test-list-items-ul{
    list-style-type: none;
    padding: 0;
    
}

.test-list-items-head{
 margin-bottom: 50px;
 display: flex;
   justify-content: space-between;
}

.test-list-items-li-button{
    width: 100px;
    height: 40px;
}

.list-items-head-text{
    margin-right: 30px;
  
}