.test-container{
margin-top: 300px;
margin-bottom: 100px;

}

.test-items{
    width: 70%;
    margin: auto;
}

.test-title{
    text-align: center;
    color:white;
    margin-bottom: 75px;
}


.test-item-input{
    display: flex;
}
.test-items-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.test-items-input{
   display: grid ;

  gap: 15px
}


.queshion-container{
    width: 60%;
    margin: auto;
    color: white;
     background-color:  #203a58;
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 200px;
    }



.queshion-items ul{
    list-style-type: none;
    padding: 0;
  
}


.queshion-title{
    font-size: 26px;
}

.queshion-text{
   font-size: 22px; 
}

.queshion-li{
    font-size: 20px;
      
}


.Button-ques{
    
    margin-right: 5px;
    border-radius: 15px;
    margin-top: 20px;
}

.Button-ques-items{
    display: flex;
}

.queshion-ul{
    margin-bottom: 15px;
}

.input{
    margin-right: 10px;
}

.queshion-li-items{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}


.queshion-items{
    display: flex;
    flex-direction: column;
}




.border-botom{
border-bottom: 1px gray solid;
}

.Button-ques.disabled-button{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}