.test-container {
  margin-top: 300px;
  margin-bottom: 100px;
}

.test-items {
  width: 70%;
  margin: auto;
}

.test-title {
  text-align: center;
  color: var(--text-color-home);
  margin-right: 30px;
}

.test-item-input {
  display: flex;
}
.test-items-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.test-item-input {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Две колонки одинаковой ширины */
  gap: 20px;
}

.test-input {
  display: flex;
}
.test-texarea {
  margin-bottom: 5px;
}

.test-item-head {
  display: flex;
  align-items: center;
}

.button-home{
   background-color: var(--button-color);
    border-color: var(--button-color);
    color: var(--button-color-text);
    border: none
}


.button-home.ant-btn:hover {
  background-color: var(--button-color-hover) !important;
  color: var(--button-color-text) !important;
  border: none !important;
}