.profile-container {
  width: 40%;
  margin: auto;
  margin-top: 300px;
  min-height: 300px;
  border-radius: 25px;
  padding: 50px;
}

.profile-items h1 {
  text-align: center;
  color: var(--card-text);
  font-size: 23px;
}

.profile-items p {
  font-size: larger;
  margin-bottom: 20px;
  font-size: 17px;
  color: var(--card-text);
}

.Button-exit {
 color: var(--button-color-text);
 background-color: var(--button-color);
 border: none;
}

.Button-exit.ant-btn:hover{
background-color: var(--button-color-hover) !important;
  color: var(--button-color-text) !important;
  border: none !important;
}


.button-container{
 justify-content: end;
  display: flex;
}

.profile-items-info {
  margin-bottom: 50px;
}

.ant-card{
  height: 100% ;
}
.ant-card{
  padding: 10px;
}

@media (max-width: 1150px) {
  .profile-container {
      width: 70%;
  }
}

@media (max-width: 650px) {
 .profile-container {
      width: 80%;
  }
}

@media (max-width: 550px) {
.ant-card{
  height: 100% ;
}.profile-container {
  margin-top: 250px;
}

}