.head-container {
  height: 80px; 
  background-color: var(--head-color) ;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0px 35px; 
  box-shadow: 0 4px 6px -6px black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

.head-items {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}

.custom-link {
  text-decoration: none; 
  color: var(--text-color-head);
  border: none; 
  outline: none;
  font-weight: 600;
  font-size: 19px;
}

.img-user{
    width: 30px;
}

.head-item-info{
    display: flex;
    gap: 80px;
}







.head-item-right{
  display: flex;
  gap: 25px;
  align-items: center;
}
.burger-menu {
    display: none; 
    font-size: 17px;
    margin-right: 10px;
    color: white;
}




.Drawer-head .ant-drawer-header {
    background-color: var(--card-background); 
    color: var(--card-text);
    border-bottom: 1px solid #ccc; 
}
.Drawer-head .ant-drawer-header button{
  color: var(--card-text);
}

.Drawer-head .ant-drawer-body {
    background-color: var(--card-background); 
}


.Drawer-head .ant-menu {
    background-color: var(--card-background) ;
}

.Drawer-head .ant-menu-item {
    color: var(--card-text); 
}

.Drawer-head .ant-menu-item:hover {
     background-color: var(--card-background); 
     color: var(--card-text); 
}

.Drawer-head .ant-menu-item-selected {
    background-color: var(--card-background) !important; 
    color: var(--background-color); 
}






@media (max-width: 750px) {
.custom-link {
   font-size: 16px;
}
.head-item-info{
    gap: 25px;
}

}



@media (max-width: 650px) {
    .head-item-info {
        display: none;
    }
    .img-user{
    width: 25px;
}

    .burger-menu {
        display: block; 
    }

    
}
