.result-container {
  width: 60%;
  margin: auto;
  margin-top: 400px;
  background-color: rgb(211, 211, 211);
  border-radius: 15px;
}

.result-card {
  background-color: rgb(206, 205, 205);
  color: white;
  background-color: white;
}

.result-card-title {
  color: white;
  margin: 0;
}

.result-card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.result-card-button {
  margin-bottom: 12px;
}

.strong-queshion{
    margin-right: 30px;
}

.result-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding:30px 0 ;
}

.result-head-title{
  margin: 0;
}


.selected-answer {
  color: red;
}

.selected-answer.correct {
  color: green; 
}

.list-item{
  margin-bottom: 15px;
}

.list-items{
  display: flex;
  justify-content: space-between;
}

.correct-answer{
  color: green;
}