.test-list-container {
  padding: 24px;
  margin-top: 200px;
  min-height: 100vh;
 
}

.result-card {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.result-head {
  text-align: center;
  margin-bottom: 24px;
}

.result-head-title p {
  font-size: 28px;
  font-weight: 600;
  color: var(--card-text);
}

.result-card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.result-card-title p {
  font-size: 20px;
  font-weight: 500;
  color: var(--card-text);
}

.result-card-button {
  font-weight: 500;
  color: var(--button-color-text);
  background-color: var(--button-color);
  border: none
}


.result-card-button.ant-btn:hover{
  background-color: var(--button-color-hover) !important;
  color: var(--button-color-text) !important;
  border: none !important;
}
.li-queshion{
 color: var(--text-color-result-strong);
 font-size: 17px;
}



.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.list-item {
  display: flex;
  flex-direction: column;
}

.li-info{
   color: var(--border-color-list);
}

.button-li-result{
border: none;
background-color: var( --card-background);
color: var(--text-color-result-button-li);}

.button-li-result.ant-btn:hover{
border: none !important;
background-color: var( --card-background) !important;
color: var(--text-color-result-button-li) !important;
}






.strong-queshion {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-result-strong);
}

.selected-answer {
  font-size: 14px;
  color: var(--incorrect-color);
}

.selected-answer.correct {
  color: var(--correct-color);
}

.correct-answer {
  color: var(--correct-color);
  font-weight: 500;
}

.expanded-content {
  margin-top: 12px;
}

.answer-label {
  font-weight: 600;
  margin-right: 8px;
}





@media (max-width: 1050px) {
.result-head-title p {
    font-size: 20px;
  font-weight: 500;
}
 .result-card-title p {
  font-size: 16px;
}
}

@media (max-width: 650px) {
.result-head-title p {
    font-size: 16px;
  font-weight: 500;
} .result-card-title p {
  font-size: 16px;
}
.result-card-button {
  font-weight: 400;
  width: 70px;
  font-size: 12px;
  height: 30px;
}
}

@media (max-width: 450px) {
 .ant-card-head{
  padding: 0 !important;
  justify-content: start !important; 
 }
.result-head-title p {
    font-size: 13px;
 
} .result-card-title p {
  font-size: 13px;
}

.strong-queshion {
  font-size: 13px;

}.li-queshion{
 color: var(--text-color-result-strong);
 font-size: 13px;
}
.test-list-container {
  margin-top: 150px;
}
.result-card{
padding: 15px;
}
.result-card-items{
  margin-bottom: 0px;
}
.button-li-result{
  font-size: 12px !important;
}
}