.test-list-container {
  padding: 24px;
  margin-top: 200px;
  min-height: 100vh;
 
}

.result-card {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.result-head {
  text-align: center;
  margin-bottom: 24px;
}

.result-head-title p {
  font-size: 28px;
  font-weight: 600;
  color: var(--card-text);
}

.result-card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.result-card-title p {
  font-size: 20px;
  font-weight: 500;
  color: var(--card-text);
}

.result-card-button {
  font-weight: 500;
  color: var(--button-color-text);
  background-color: var(--button-color);
  border: none
}


.result-card-button.ant-btn:hover{
  background-color: var(--button-color-hover) !important;
  color: var(--button-color-text) !important;
  border: none !important;
}




.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.list-item {
  display: flex;
  flex-direction: column;
}

.li-info{
   color: var(--border-color-list);
}

.button-li-result{
border: none;
background-color: var( --card-background);
color: var(--text-color-result-button-li);}

.button-li-result.ant-btn:hover{
border: none !important;
background-color: var( --card-background) !important;
color: var(--text-color-result-button-li) !important;
}






.strong-queshion {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-result-strong);
}

.selected-answer {
  font-size: 14px;
  color: var(--incorrect-color);
}

.selected-answer.correct {
  color: var(--correct-color);
}

.correct-answer {
  color: var(--correct-color);
  font-weight: 500;
}

.expanded-content {
  margin-top: 12px;
}

.answer-label {
  font-weight: 600;
  margin-right: 8px;
}




